/* .section {
    margin-bottom: 20px;
  }
  
  .heading {
    margin-bottom: 10px;
  }
  
  .hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
  }
  
  .loader {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
  }
   */